<%# <h1> Esta es la pestaña de home</h1> %>

<%# <%=link_to "Alpha blog", articles_path %>  
<%# <%= link_to 'About', about_path%> 

<div class="center jumbotron">

  <h1 class="display-4">Alpha Blog</h1>
  <p> <%= link_to "Sign up now", "#" , class: "btn btn-danger btn-lg btn-xlarge"%></p>
  
</div>